<h1>タスク一覧</h1>

<% if @tasks.any? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>状況</th>
        <th>タスク</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.id, task %></td>
        <th><%= task.status %></th>
        <th><%= task.content %></th>
      </tr>
      
      <% end %>
    </tbody>
  </table>
 
  <% end %>
  
  <%= link_to '新規タスクの投稿', new_task_path, class: "btn btn-primary" %>